@model MVC.Controllers.tasks.controller.cardRes.CardResp

<h1>Tarjeta Actualizada Exitosamente</h1>

<div>
    <strong>ID:</strong> @Model.Id
</div>
<div>
    <strong>Nombre de la Tarea:</strong> @Model.nameTask
</div>
<div>
    <strong>Estado:</strong> @Model.status
</div>
