@{
    ViewData["Title"] = "Tarjeta Eliminada";
}

<h1>@ViewData["Title"]</h1>

<p>La tarjeta ha sido eliminada exitosamente.</p>

<div>
    <a asp-page="GetAllCards" class="btn btn-primary">Volver a la Lista de Tarjetas</a>
</div>