@model IEnumerable<MVC.Controllers.tasks.controller.cardRes.CardResp>

<h1>Lista de Tarjetas</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de la Tarea</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var card in Model)
    {
        <tr>
            <td>@card.Id</td>
            <td>@card.nameTask</td>
            <td>@card.status</td>
        </tr>
    }
    </tbody>
</table>